@model CandorMvcApplication.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Did you forget your password?</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Forgot Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
        </ol>
        <input type="submit" value="Send reset code" />
    </fieldset>
}

<p>
    You will receive an email sortly after submission with a link that can be used to
    reset your password.  The link will only work for one hour and it can only be used one time.
</p>
<p>
    If you do not receive the email within 15 minutes, then please check your spam folder.
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}